In [2]:
a='shahbaz'

In [3]:
b=100

In [6]:
list1=[1,2,3,5]

In [5]:
tuple1=()

In [26]:
tuple1=(1,2,3,4,5)

In [8]:
list1[1:3]

[2, 3]

In [41]:
tuple1.count(3)

1

In [42]:
tuple1.index(3)

2

In [9]:
type(tuple1)

tuple

In [10]:
tuple1[1]=0

TypeError: 'tuple' object does not support item assignment

In [37]:
a=list(tuple1)

In [12]:
a[1]=0

In [25]:
tuple(a)

(1, 0, 3, 4, 5)

In [44]:
tuple1=(1,2,3,4,3,5)

In [45]:
tuple1

(1, 2, 3, 4, 3, 5)

In [46]:
sum(tuple1)

18

In [47]:
len (tuple1)

6

In [23]:
#range

In [49]:
range(0,10)

range(0, 10)

In [50]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [51]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
type(range(0,10))

range

In [53]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [54]:
list(range(10,0))

[]

In [55]:
#Dictionaries

In [57]:
dict1={'A':15,'B':24,'C':35}

In [60]:
dict1['C']

35

In [87]:
dict1 = {'Student_name':['A','B','C','D','E'],
     'Student_age':[1,2,3,4,5]}

In [68]:
dict1['Student_name'][0]

'A'

In [69]:
dict1['Student_name'][0]='X'

In [70]:
dict1['Student_name'][0]

'X'

In [88]:
dict1

{'Student_name': ['A', 'B', 'C', 'D', 'E'], 'Student_age': [1, 2, 3, 4, 5]}

In [94]:
dict1['Region']=['S','N','E','W','W']

In [95]:
dict1

{'Student_name': ['A', 'B', 'C', 'D', 'E'],
 'Student_age': [1, 2, 3, 4, 5],
 'Subject': ['M', 'Tab', 'Pyt', 'Bi', 'phy'],
 'Region': ['S', 'N', 'E', 'W', 'W']}

In [92]:
dict1['Subject']=['M','Tab','Pyt','Bi','phy']

In [93]:
dict1

{'Student_name': ['A', 'B', 'C', 'D', 'E'],
 'Student_age': [1, 2, 3, 4, 5],
 'Subject': ['M', 'Tab', 'Pyt', 'Bi', 'phy']}

In [84]:
import pandas as pd

In [97]:
pd.DataFrame(dict1)

  Student_name  Student_age Subject Region
0            A            1       M      S
1            B            2     Tab      N
2            C            3     Pyt      E
3            D            4      Bi      W
4            E            5     phy      W

In [100]:
dict2=dict1.fromkeys({'Student_name','Student_age','Marks'},'NA')

In [101]:
dict2

{'Student_name': 'NA', 'Marks': 'NA', 'Student_age': 'NA'}

In [102]:
dict2['Marks']=[1,2,3,4,5]

In [103]:
dict2

{'Student_name': 'NA', 'Marks': [1, 2, 3, 4, 5], 'Student_age': 'NA'}

In [104]:
dict1.get('Student_name')

['A', 'B', 'C', 'D', 'E']

In [105]:
dict1.items()

dict_items([('Student_name', ['A', 'B', 'C', 'D', 'E']), ('Student_age', [1, 2, 3, 4, 5]), ('Subject', ['M', 'Tab', 'Pyt', 'Bi', 'phy']), ('Region', ['S', 'N', 'E', 'W', 'W'])])

In [106]:
dict1.keys

In [109]:
dict1.pop('Region')

['S', 'N', 'E', 'W', 'W']

In [110]:
dict1

{'Student_name': ['A', 'B', 'C', 'D', 'E'],
 'Student_age': [1, 2, 3, 4, 5],
 'Subject': ['M', 'Tab', 'Pyt', 'Bi', 'phy']}

In [111]:
dict1['sub']=dict1.pop('Subject')

In [112]:
dict1

{'Student_name': ['A', 'B', 'C', 'D', 'E'],
 'Student_age': [1, 2, 3, 4, 5],
 'sub': ['M', 'Tab', 'Pyt', 'Bi', 'phy']}

In [113]:
dict1['Subject']=dict1.pop('sub')

In [114]:
dict1

{'Student_name': ['A', 'B', 'C', 'D', 'E'],
 'Student_age': [1, 2, 3, 4, 5],
 'Subject': ['M', 'Tab', 'Pyt', 'Bi', 'phy']}

In [115]:
dict1.popitem()

('Subject', ['M', 'Tab', 'Pyt', 'Bi', 'phy'])

In [116]:
dict1.popitem()

('Student_age', [1, 2, 3, 4, 5])

In [117]:
dict1

{'Student_name': ['A', 'B', 'C', 'D', 'E']}

In [119]:
dict1['DOJ']=['jan','Feb','mar','apr','may']

In [120]:
dict1.setdefault('DOJ')

['jan', 'Feb', 'mar', 'apr', 'may']

In [121]:
dict1

{'Student_name': ['A', 'B', 'C', 'D', 'E'],
 'DOJ': ['jan', 'Feb', 'mar', 'apr', 'may']}

In [122]:
dict1.values()

dict_values([['A', 'B', 'C', 'D', 'E'], ['jan', 'Feb', 'mar', 'apr', 'may']])

In [123]:
mydict1={1:2,3:4}
mydict2={5:6,7:8}

In [124]:
mydict1.update(mydict2)

In [125]:
mydict1

{1: 2, 3: 4, 5: 6, 7: 8}

In [126]:
len(mydict1)

4

In [128]:
mydict1={'a':2,'b':4}
mydict2={'c':6,'d':8}

In [129]:
mydict1.update(mydict2)

In [130]:
mydict1

{'a': 2, 'b': 4, 'c': 6, 'd': 8}

In [131]:
mydict3=mydict1.copy()

In [133]:
mydict4=mydict3.fromkeys({'a'},'Na')

In [134]:
mydict4

{'a': 'Na'}

In [135]:
mydict4=mydict3.fromkeys({'a','X'},'Na')

In [136]:
mydict4

{'X': 'Na', 'a': 'Na'}

In [137]:
studid={1,1,1,1,2,2,2,3,4,5,5,6,7,8}

In [138]:
studid

{1, 2, 3, 4, 5, 6, 7, 8}

In [139]:
set1=set([1,1,2,3,3])

In [140]:
set1

{1, 2, 3}

In [141]:
set.add(10)

TypeError: descriptor 'add' requires a 'set' object but received a 'int'

In [142]:
set1.discard(3)

In [143]:
set1

{1, 2}

In [144]:
set1.remove(2)

In [145]:
set1

{1}

In [146]:
set1.pop()

1

In [148]:
set1.update([10,20,30,40])

In [149]:
set1

{10, 20, 30, 40}

In [150]:
set1={1,2,3}

In [151]:
set1

{1, 2, 3}

In [152]:
set2={3,4}

In [153]:
set2

{3, 4}

In [159]:
set2.update(set1)

In [158]:
set1

{1, 2, 3, 4}

In [161]:
set1={1,2,3}

In [162]:
set1

{1, 2, 3}

In [163]:
set2={3,4}

In [164]:
set2

{3, 4}

In [165]:
set1.difference(set2)

{1, 2}

In [166]:
set.difference_update(set2)

In [167]:
set1

{1, 2, 3}

In [168]:
set.intersection(set2)

{3, 4}

In [169]:
set.difference_update(set2)

In [172]:
set2

{3, 4}

In [173]:
set1.isdisjoint(set2)

False

In [174]:
set2.issubset(set1)

False

In [175]:
set1.issuperset(set2)

False

In [176]:
set1={1,2,3}
set2={1,2,3}

In [177]:
set1.issuperset(set2)

True

In [178]:
set2.issuperset(set1)

True

In [179]:
set1.issubset(set2)

True

In [180]:
set2.issubset(set1)

True