In [1]:
#map
#reduce
#String
#Regular Expression

In [11]:
#map
def double(x):
    return 2*x
l=[2,3,4,5,6]
list(map(double,l))

[4, 6, 8, 10, 12]

In [12]:
list(map(lambda x:x*2,l))

[4, 6, 8, 10, 12]

In [13]:
list1=[1,2,3,4,5]
list2=[4,3,2,1,2]
list(map(lambda x,y:x*y,list1,list2))

[4, 6, 6, 4, 10]

In [14]:
#Reduce
l=[1,2,3,4,5]
o=15

In [15]:
from functools import *
list1=[10,20,30,40,50]
reduce(lambda x,y :x+y,list1)

150

In [20]:
#string operations
city=input('enter your city')
list1=['mumbai','Bengluru','chennai','Delhi']
if city in list1:
     print('your city is present')
else:
     print('your city is not present')

enter your citymumbai
your city is present

In [21]:
#string operations
city=input('enter your city')
list1=['mumbai','Bengluru','chennai','Delhi']
if city in list1:
     print('your city is present')
else:
     print('your city is not present')

enter your city mumabi
your city is not present

In [25]:
#string operations
city=input('enter your city')
list1=['mumbai','Bengluru','chennai','Delhi']
if city.lstrip() in list1:
     print('your city is present')
else:
     print('your city is not present')

enter your city mumbai
your city is present

In [27]:
city=input('enter your city')
list1=['mumbai','Bengluru','chennai','Delhi']
if city.rstrip() in list1:
     print('your city is present')
else:
     print('your city is not present')

enter your citymumbai
your city is present

In [31]:
city=input('enter your city')
list1=['mumbai','Bengluru','chennai','Delhi']
if city.strip('$') in list1:
     print('your city is present')
else:
     print('your city is not present')

enter your city$$$$$mumbai$$$$$
your city is present

In [33]:
s='shahbazshakeelshahbazshakeel'
s.find('scholar')
#s.find('shakeel')
#find function will return the index of the 1st match only from left to right.
#if it is not finding then it will give me -1( it is not a reverse index )

-1

In [34]:
s='shahbazshakeelshahbazshakeel'
s.rfind('shakeel')

21

In [44]:
s='ThescholarThescholar'
s.index('T')
s.rindex('T')
s.index('T',3,19)

10

In [48]:
#Rahullllllllllllrahullllll
s=input('Enter the String')
sub=input('Enter the string which you are looking')
flag=False
pos=-1
n=len(s)
while True:
    pos=s.find(sub,pos+1,n)
    if pos==-1:
        break
    print('Found the value at the index:',pos)
    flag=True
if flag== False:
        print('No',sub, 'found')

Enter the StringRahullllllllllllrahullllll
Enter the string which you are lookingt
No t found

In [68]:
s = 'shahbazshakeelshahbazshakeel'
s.replace('shakeel','Ahmad')

'shahbazAhmadshahbazAhmad'

In [69]:
s = 'shahbazshakeelshahbazshakeel'
print(id(s))
s = s.replace('shakeel','Ahmad')
print(id(s))

TypeError: 'int' object is not callable

In [86]:
a='T'
print(id(a))
a='R'
print(id(a))

TypeError: 'int' object is not callable

In [75]:
s='shahbaz-shakeel-khan'
s.split('-')

['shahbaz', 'shakeel', 'khan']

In [78]:
s='A-B-C-D-E-F-G-H-I-J'
s.split('-',3)

['A', 'B', 'C', 'D-E-F-G-H-I-J']

In [79]:
list1=['Rahul','sharma','kumar']
s='@'.join(list1)
s

'Rahul@sharma@kumar'

In [89]:
s = 'shahbaz shakeel is a Data Scientist'
print(s.upper())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.capitalize())

TypeError: 'int' object is not callable

In [93]:
s = 'shahbaz shakeel is a Data Scientist'
print(s.upper())

TypeError: 'int' object is not callable

In [96]:
s = 'Learning python is very simple'
s.startswith('Learn')
s.endswith('Simple')

False

In [ ]:
isalnum()
isalpha()
isdigit()
islower()
isupper()
istitle()
isspace()

In [108]:
print('Rahul'.isalnum())
print('Rahul'.isalpha())

TypeError: 'int' object is not callable

In [ ]:
s = input('Enter the string')
if s.isalnum():
    print('it is alpha numeric string')
    if s.isalpha():
        print('it is alphabet string')
        if s.islowers():
            print('it is Lower string')
        else:
            print('it is upper string')
    else:
        print('it is a digit')
elif s.isspace():
    print('it is a space')
else:
    print('No space there is special character')

In [ ]:
s = 'rahul'
s[:]