In [1]:
#input and output
#Loops
#functions

In [2]:
name=input('Please enter your name')

Please enter your nameshahbaz shakeel

In [3]:
name

'shahbaz shakeel'

In [5]:
type(name)

str

In [7]:
age= input('Enter your age')

Enter your age30

In [9]:
type(age)

str

In [10]:
age=int(input('Enter your age'))

Enter your age30

In [11]:
age

30

In [12]:
age=float(input('Enter your age'))

Enter your age30

In [13]:
age

30.0

In [14]:
number=input('Enter 5 number')

Enter 5 number34,33,32,31,30

In [15]:
number

'34,33,32,31,30'

In [16]:
type(number)

str

In [23]:
number=input('Enter 5 number').split(',')

Enter 5 number1,2,3,4,55

In [26]:
number

['1', '2', '3', '4', '55']

In [27]:
a=[int(x)for x in input('Enter 5 number:').split(',')]

Enter 5 number:21,22,23,24,25

In [28]:
a

[21, 22, 23, 24, 25]

In [29]:
sum(a)

115

In [30]:
a

[21, 22, 23, 24, 25]

In [37]:
details=input('Enter your details,Name,Age,MS,Salary').split(',')

Enter your details,Name,Age,MS,Salaryeshan,30,True,3.5

In [38]:
details

['eshan', '30', 'True', '3.5']

In [34]:
type(details)

str

In [41]:
details=[eval(x)for x in input('Enter your details,Name,Age,MS,Salary').split(',')]

Enter your details,Name,Age,MS,Salary'eshan',30,True,3.5

In [45]:
type(details[2])

bool

In [46]:
#output

In [48]:
print('Hello')
print()
print('Hi')

Hello

Hi

In [50]:
print('Hello \n all')

Hello
 all

In [51]:
print('Hello \t all')

Hello 	 all

In [55]:
print('eshan' + ' ' + 'Khan')

eshan Khan

In [56]:
#Form
a,b,c=10,20,30

In [57]:
print('The value are:',a,b,c)

The value are: 10 20 30

In [58]:
print(a,',',b,',',c,)

10 , 20 , 30

In [62]:
print(a,b,c,sep=':')

10:20:30

In [66]:
print('Hello')
print('Student')
print('welcome to the world of python with the scholar')

Hello
Student
welcome to the world of python with the scholar

In [73]:
print('Hello',end=' ')
print('Student',end=' ')
print('welcome to the world of python with the scholar',end=' ')

Hello Student welcome to the world of python with the scholar

In [75]:
print(10,20,30,40,50,sep = '-',end='------')

10-20-30-40-50------

In [76]:
print(10,20,30,40,50,sep = '-',)

10-20-30-40-50

In [79]:
list1=[1,2,3,4,5]
tuple1=(1,2,3,4,5)
set1={1,2,3,4,5}

In [80]:
print(list1)
print(tuple1)
print(set1)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
{1, 2, 3, 4, 5}

In [81]:
print(list1, end=' ')
print(tuple1, end=' ')
print(set1, end=' ')

[1, 2, 3, 4, 5] (1, 2, 3, 4, 5) {1, 2, 3, 4, 5}

In [83]:
print(list1,tuple1,set1,sep ='-')

[1, 2, 3, 4, 5]-(1, 2, 3, 4, 5)-{1, 2, 3, 4, 5}

In [85]:
name='shahbaz'
salary='10000'
company='hdfc'
print('Hello', name,'your salary is',salary,'your company is',company)

Hello shahbaz your salary is 10000 your company is hdfc

In [88]:
print('Hello {},your salary is {},your company is {}'.format(name,salary,company))

Hello shahbaz,your salary is 10000,your company is hdfc

In [90]:
print('Hello {},your salary is {},your company is {}'.format(company,salary,name))

Hello hdfc,your salary is 10000,your company is shahbaz

In [91]:
print('Hello {2},your salary is {1},your company is {0}'.format(company,salary,name))

Hello shahbaz,your salary is 10000,your company is hdfc

In [92]:
print('Hello {n},your salary is {s},your company is {c}'.format(c=company,s=salary,n=name))

Hello shahbaz,your salary is 10000,your company is hdfc

In [93]:
#flow control
#if else
#for loop
#while loop

In [ ]:
if condition:
    output
else:
    output

In [99]:
marks=int(input('enter your marks'))
if marks<35:
     print('you failed the exam')
else:
     print('you passed the exam')

enter your marks60
you passed the exam

In [103]:
marks=int(input('enter your marks'))
if marks<35:
     print('you failed the exam')
elif marks>=35 and marks<=60:
     print('you passed the exam')
else:
     print('you got excellent marks')

enter your marks65
you got excellent marks

In [ ]:
determind Even and odd

In [108]:
x=int(input('enter the number'))
if x%2==0:
    print('The number is even')
else:
    print('the number is odd')

enter the number3
the number is odd

In [111]:
#For loop

In [ ]:
for condition:
    statemnt1
    statemnt2
statemnt3

In [112]:
x='shahbaz'
for a in x:
    print(a)
    print('Hi')
print('Hello')

s
Hi
h
Hi
a
Hi
h
Hi
b
Hi
a
Hi
z
Hi
Hello

In [116]:
name='shahbaz'
count=0
for x in name:
    print(count)
    count=count+1
print(count)

0
1
2
3
4
5
6
7

In [121]:
 name='shahbaz'
count=0
for x in name:
    print('before the loop')
    print(count)
    count=count+1
    print('after the loop')
    print(count)
print(count)

before the loop
0
after the loop
1
before the loop
1
after the loop
2
before the loop
2
after the loop
3
before the loop
3
after the loop
4
before the loop
4
after the loop
5
before the loop
5
after the loop
6
before the loop
6
after the loop
7
7

In [122]:
#operators

In [123]:
#Arthimatic operators
#Comparison (Relational) Operators.
#Logical Operators.
#Equatity Operators
#Bitwise Operators.
#Assignment Operators.
#Special Operators.

In [124]:
#Arthimatic operators
# +=Add
# -=subtract
# *=Multiple
#/=division
#%=Module
#//=floor Division
#**=power

In [126]:
a=10
b=2

In [132]:
print('a+b :',a+b)
print('a-b :',a-b)
print('a*b :',a*b)
print('a/b :',a/b)
print('a%b :',a%b)
print('a//b:',a//b)
print('a**b:',a**b)

a+b : 12
a-b : 8
a*b : 20
a/b : 5.0
a%b : 0
a//b: 5
a**b: 100

In [133]:
#Relational operators

In [134]:
a=10
b=20
print('a>b',a>b)
print('a<b',a<b)
print('a>=b',a>=b)
print('a<=b',a<=b)

a>b False
a<b True
a>=b False
a<=b True

In [136]:
a='Rahul'
b='rahul'
print('a>b',a>b)
print('a<b',a<b)
print('a>=b',a>=b)
print('a<=b',a<=b)

a>b False
a<b True
a>=b False
a<=b True

In [137]:
#Equality operators
list1=[1,2,3,4,5]
list2=[1,2,3,4,5]
list1==list2

True

In [138]:
list1!=list2

False

In [139]:
10=='10'

False

In [140]:
10==int('10')

True

In [ ]:
#logical operators
and
or
not

In [142]:
x=1
y=10
x and y

10

In [145]:
x=1
y=10
x and y
if x evalutes false then the result be x
   else y

SyntaxError: invalid syntax (<ipython-input-145-6f6e15c58c36>, line 4)

In [149]:
True and True
True and False
False and False
not False

True

In [150]:
#Assignment operators
x=100
x+=10
print(x)

110

In [ ]:
x=100
x+=10
print(x)
x-=90
print(x)