In [1]:
#Ternary operators

In [3]:
a=int(input('Please enter the 1st number'))
b=int(input('Please enter the 2nd number'))
x=a if a>b else b
print(x)

Please enter the 1st number7
Please enter the 2nd number3
7

In [6]:
a=int(input('Please enter the 1st number'))
b=int(input('Please enter the 2nd number'))
c=int(input('Please enter the 3rd number'))
x=a if a>b>c else b if b>c else c
print(x)

Please enter the 1st number9
Please enter the 2nd number8
Please enter the 3rd number5
9

In [9]:
a=int(input('Please enter the 1st number'))
b=int(input('Please enter the 2nd number'))
c=int(input('Please enter the 3rd number'))
x=a if a>b & a>c else b if b>c else c
print(x)

Please enter the 1st number7
Please enter the 2nd number5
Please enter the 3rd number6
6

In [8]:
a=int(input('Please enter the 1st number'))
b=int(input('Please enter the 2nd number'))
c=int(input('Please enter the 3rd number'))
x=a if a>b and a>c else b if b>c else c
print(x)

Please enter the 1st number7
Please enter the 2nd number5
Please enter the 3rd number6
7

In [10]:
#special operator
identity operator
Membership operator

In [16]:
10
  is
is not

IndentationError: unexpected indent (<ipython-input-16-e983147c7821>, line 2)

In [17]:
Mo 
  in 
    not in

IndentationError: unexpected indent (<ipython-input-17-71beca3cb84a>, line 2)

In [18]:
a=10
b=20
a is b

False

In [19]:
a=257
b=257
a is b

False

In [20]:
list1=[10,20,30,40]
list2=[10,20,30,40]
print(id(list1))
print(id(list2))
list1 is list2

720436164872
720436315848

False

In [4]:
def greeting():
    print('Good morning')
    greeting()

In [8]:
def greeting():
    print('Good morning')
greeting()

Good morning

In [17]:
def greeting(name):
    print('Hello',name,'Good Morning')
greeting('Shahbaz')

Hello Shahbaz Good Morning

In [19]:
def greeting(name= 'guest'):
    print('Hello',name,'Good Morning')
greeting()

Hello guest Good Morning

In [41]:
def square(x):
    print('The square of {} is : {}'.format(x,x*x))
square(10)

The square of 10 is : 100

In [33]:
def add(a,b):
    print(a+b)
add(10,20)

30

In [51]:
def evenodd(n):
    if n%2==0:
        print('{} number is even'.format(n))
    else:
        print('{} number is odd'.format(n))
evenodd(10)
evenodd(11)
evenodd(10.2)

10 number is even
11 number is odd
10.2 number is odd

In [59]:
def fact(n):
    result = 1
    while n>=1:
        result = result * n
        n = n-1
    print(result)
    
fact(5)

120

In [60]:
def fact(n):
    result = 1
    while n>=1:
        result = result * n
        n = n-1
    return  result 

for i in range(1,11):
    print('the factorial of {} is {}'.format(i,fact(i)))

the factorial of 1 is 1
the factorial of 2 is 2
the factorial of 3 is 6
the factorial of 4 is 24
the factorial of 5 is 120
the factorial of 6 is 720
the factorial of 7 is 5040
the factorial of 8 is 40320
the factorial of 9 is 362880
the factorial of 10 is 3628800

In [65]:
def add1(a,b):
    print(a+b)

In [66]:
q=add(10,2)
p=add1(10,2)

12
12

In [67]:
def calc(a,b):
    sum=a+b
    sub=a-b
    mul=a*b
    div=a/b
    return sum
    return sub
    return mul
    return div
calc(10,2)

12

In [69]:
def calc(a,b):
    sum=a+b
    sub=a-b
    mul=a*b
    div=a/b
    return sum,sub,mul,div

calc(10,2)

(12, 8, 20, 5.0)

In [73]:
def calc(a,b):
    sum=a+b
    sub=a-b
    mul=a*b
    div=a/b
    return{sum:sum, sub :sub,mul:mul,div:div}
calc(10,2)

{12: 12, 8: 8, 20: 20, 5.0: 5.0}

In [74]:
#types of argument
#positional argument
#key argument
#default argument
#variale argument

In [75]:
#positional argument
def sum(a,b)
    print(a+b)
sum (10)

SyntaxError: invalid syntax (<ipython-input-75-9c46d6ef9679>, line 1)

In [80]:
#key argument
def greeting(name, company):
    print('Hello', name,'your company is : ', company)
greeting ('the scholar','Rahul')
greeting(company='the scholar',name='Rahul')

Hello the scholar your company is :  Rahul
Hello Rahul your company is :  the scholar

In [82]:
#default argument
def greeting(name='guest',company)
    print('Hello',name,'your company is :'company)
greeting('The scholar')

SyntaxError: invalid syntax (<ipython-input-82-d9af83987796>, line 2)

In [85]:
def greeting(marks, age, name ='Guest',msg='Good Morning'):
    print('student name',name)
    print('student age',age)
    print('student marks',marks)
    print('student msg',msg)
greeting(100,20)

student name Guest
student age 20
student marks 100
student msg Good Morning

In [86]:
def greeting(marks, age, name ='Guest',msg='Good Morning'):
    print('student name',name)
    print('student age',age)
    print('student marks',marks)
    print('student msg',msg)
greeting(age=20,marks=100)

student name Guest
student age 20
student marks 100
student msg Good Morning

In [89]:
def greeting(marks, age, name ='Guest',msg='Good Morning'):
    print('student name',name)
    print('student age',age)
    print('student marks',marks)
    print('student msg',msg)
greeting(20,marks=100)

TypeError: greeting() got multiple values for argument 'marks'

In [94]:
#addition of add three number
def sum(a,b):
    print(a+b)

def sum1(a,b,c):
    print(a+b+c)
    
def sum2(a,b,c,d):
    print(a+b+c+d)
    
sum(10,20)
sum1(10,20,30)
sum2(10,20,30,40)

30
60
100

In [97]:
def sum(*a):
    result=0
    for i in a:
        result=result +i
    print(result)
sum(10,20,30,40,50,60,70,80,90)

450

In [98]:
a=10
def f1():
    print('f1:',a)
f1()

f1: 10

In [102]:
def f1():
    p=20
    print('f1:',p)
def f2():
    print('f2:',p)
#f1()
f2()

f2: None

In [106]:
cust=10
def f1():
    cust=1000
    print('f1 :',cust)
def f2():
     print('f2 :',cust)
f1()
f2()

f1 : 1000
f2 : 10

In [107]:
cust=10
def f1():
    global cust
    cust=1000
    print('f1 :',cust)
def f2():
     print('f2 :',cust)
f1()
f2()

f1 : 1000
f2 : 1000

In [108]:
cust

1000

In [109]:
z=10
def f2():
    print('f2 :', z)
def f1():
    global z
    z=200
    print('f1 :',z)
f2()
f1()

f2 : 10
f1 : 200

In [114]:
def f1():
    global s
    s=101
    print('f1 :', s)
    
def f2():
    global s
    s=999
    print('f2:',s)
    
def f3():
    print('f3:',s)
    
f3()
f2()
f1()

f3: 999
f2: 999
f1 : 101

In [117]:
#Recursive function
def factorial(n):
    if n==0:
        result=1
    else:
        result=n*factorial(n-1)
    return result
factorial(5)

120

In [123]:
#Nested function
def outer():
    print('outer function is calling')
def inner():
    print('inner function is calling')
inner()
    
outer()

inner function is calling
outer function is calling

In [125]:
#lambda function
def square(x):
    return x*x
square(10)

100

In [126]:
m1 = lambda x : x*x

In [127]:
m1(10)

100

In [128]:
# for adding
m1=lambda a,b:a+b

In [129]:
m1(10,2)

12

In [130]:
# find greater value
m1=lambda a,b:a if a>b else b

In [131]:
m1(100,200)

200

In [133]:
#filter
#filter(func,list)

In [138]:
def iseven(x):
    if x%2==0:
        return true
    else:
        False
l = [2,3,4,5,6,7,8]
print(filter(iseven ,l))

<filter object at 0x000000FA4FE12688>

In [141]:
def iseven(x):
    if x%2==0:
        return True
    else:
        False
l = [2,3,4,5,6,7,8]
tuple(filter(iseven ,l))

(2, 4, 6, 8)

In [142]:
def iseven(x):
    if x%2==0:
        return True
    else:
        False
l = [2,3,4,5,6,7,8]
list(filter(iseven ,l))

[2, 4, 6, 8]

In [144]:
list(filter(lambda x : x%2==0,l))

[2, 4, 6, 8]