In [8]:
name= 'shahbaz shakeel'

In [10]:
type(name)

str

In [11]:
salary=10000.00

In [13]:
type(salary)

float

In [14]:
total_leave =25

In [16]:
type(total_leave)

int

In [20]:
a=total_leave>20

In [19]:
type(a)

bool

In [24]:
type(a)

bool

In [34]:
student_name ='123'

In [36]:
student_name

'123'

In [33]:
type(student_name)

str

In [37]:
marks= 95.9

In [38]:
marks

95.9

In [39]:
type(marks)

float

In [41]:
marks<95

False

In [43]:
type(a)

bool

In [50]:
a = 2 + 5j

In [53]:
type(a)

complex

In [55]:
a=1-3j

In [58]:
customer_name='nikki'

In [59]:
customer_name

'nikki'

In [60]:
customer123='nikki'

In [61]:
customer123

'nikki'

In [62]:
cust123mer='nikki'

In [63]:
cuct123mer

NameError: name 'cuct123mer' is not defined

In [67]:
money=100

In [68]:
money=200

In [66]:
money

200

In [69]:
money

200

In [70]:
money=100

In [71]:
money

100

In [72]:
a=1+2

In [73]:
a

3

In [74]:
b=4-2

In [75]:
b

2

In [76]:
a=3*2

In [77]:
a

6

In [79]:
b=6/2

In [80]:
b

3.0

In [85]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [87]:
a=10
print(id(a))
b=10
print(id(b))
c=254
print(id(c))
d=252
print(id(d))

140736743252656
140736743252656
140736743260464
140736743260400

In [88]:
a=777

In [89]:
a

777

In [90]:
b=1111

In [94]:
b=0b1111

In [95]:
b

15

In [98]:
a=0O752

In [99]:
a

493

In [103]:
a=0xface

In [105]:
type(a)

int

In [118]:
a=False
b=True
a+b

1

In [119]:
a="The scholar learning"

In [120]:
a

'The scholar learning'

In [124]:
a="The 'scholar learning' is an amazing platform"

In [122]:
a

"The 'scholar learning' is an amazing platform"

In [127]:
a='''The 'scholar learning' is an "amazing" platform'''

In [135]:
print(a)

The 'scholar learning' is an "amazing" platform"

In [136]:
a='The scholar'

In [154]:
a[-7:-1]

'schola'

In [155]:
#python collection datatype

In [156]:
#list

In [175]:
ages = [32,23,44,54,22,33,23,22,43,34,32,45,33]

In [176]:
ages

[32, 23, 44, 54, 22, 33, 23, 22, 43, 34, 32, 45, 33]

In [177]:
type(ages)

list

In [178]:
len(ages)

13

In [179]:
type(ages[6])

int

In [180]:
ages[-1:-6]

[]

In [182]:
ages = ['A',23,'B',54,True,33,23.5,22,43,34,32,45,33]

In [183]:
ages

['A', 23, 'B', 54, True, 33, 23.5, 22, 43, 34, 32, 45, 33]

In [184]:
type(ages)

list

In [189]:
type(ages[4])

bool

In [190]:
len(ages)

13

In [193]:
ages[-1:-6:-1]

[33, 45, 32, 34, 43]

In [194]:
ages[0:4]

['A', 23, 'B', 54]

In [195]:
ages[6:0:-1]

[23.5, 33, True, 54, 'B', 23]

In [196]:
ages[-4:]

[34, 32, 45, 33]

In [199]:
ages[4:8:]

[True, 33, 23.5, 22]

In [200]:
ages[4:8:-1]

[]

In [201]:
ages[-6:-1:-1]

[]

In [202]:
ages

['A', 23, 'B', 54, True, 33, 23.5, 22, 43, 34, 32, 45, 33]

In [203]:
ages[1]=32

In [209]:
ages

['A',
 32,
 'B',
 54,
 True,
 33,
 23.5,
 22,
 43,
 34,
 32,
 45,
 33,
 100,
 [200, 300, 400]]

In [210]:
ages.append(100)

In [218]:
ages.append([200,300,400])

In [231]:
ages=['A', 23, 'B', 54, True, 33, 23.5,]

In [227]:
ages

NameError: name 'ages' is not defined

In [223]:
ages[7]

[200, 300, 400]

In [224]:
del ages[-1]

In [225]:
del ages

In [238]:
ages=['A', 23, 'B', 54, True, 33, 23.5,]

In [233]:
ages

['A', 23, 'B', 54, True, 33, 23.5]

In [235]:
ages.clear()

In [236]:
ages

[]

In [239]:
ages

['A', 23, 'B', 54, True, 33, 23.5]

In [240]:
ages1=ages.copy()

In [241]:
ages1

['A', 23, 'B', 54, True, 33, 23.5]

In [242]:
ages

['A', 23, 'B', 54, True, 33, 23.5]

In [244]:
ages.count(33)

1

In [251]:
ages.extend([8,9])

In [252]:
ages

['A', 23, 'B', 54, True, 33, 23.5, 1, 2, 3, 4, 8, 9]

In [248]:
ages.index(33)

5

In [253]:
ages.insert(4,20)

In [254]:
ages

['A', 23, 'B', 54, 20, True, 33, 23.5, 1, 2, 3, 4, 8, 9]

In [255]:
ages.insert(4,20)

In [256]:
ages

['A', 23, 'B', 54, 20, 20, True, 33, 23.5, 1, 2, 3, 4, 8, 9]

In [257]:
ages.pop()

9

In [262]:
ages.pop(5)

True

In [263]:
ages

['A', 'B', 54, 20, 20, 33, 23.5, 1, 2, 3, 4]

In [266]:
ages.remove('B')

In [267]:
ages

['A', 54, 20, 20, 33, 23.5, 1, 2, 3]

In [268]:
ages.reverse()

In [269]:
ages.pop()

'A'

In [270]:
ages.sort(reverse=True)

In [271]:
ages

[54, 33, 23.5, 20, 20, 3, 2, 1]

In [272]:
del ages[2]

In [273]:
ages

[54, 33, 20, 20, 3, 2, 1]

In [274]:
del ages[2:4]

In [275]:
ages

[54, 33, 3, 2, 1]

In [276]:
del ages

In [277]:
ages

NameError: name 'ages' is not defined